@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.animate-gradient {
    background: linear-gradient(270deg, #4d6bfd, #6d28d9, #ec4899, #14b8a6, #4d6bfd);
    /* Gradiente más brillante */
    animation: gradientShift 3s ease-in-out infinite;
}